---
layout: default
---
<h1>Impressum</h1>
<div>
    <P>PI-Data AG<BR/>
        Finkenweg 20<BR/>
        D 71134 Aidlingen
    </P>
    <P>Telefon 0700 PI Data AG<br/>
        +49 (0) 700 / 74 32 82 24 <BR/>
        Fax: +49 (0) 7056 / 922 94<BR/>
        E-Mail: <A HREF="mailto:info@pi-data.de">info@pi-data.de</A><BR/>
        Internet: http://www.pi-data.de
    </P>
    <P>USt-Id-Nummer: DE 814 344 759
    </P>
    <P><B>Vorstände</B>
    </P>
    <P>Peter Rudolph<BR/>
        Rebekka Rudolph
    </P>
    <P><B>Aufsichtsratsvorsitzender</B>
    </P>
    <P>Volker Voigt
    </P>
    <P><B>Handelsregister</B>
    </P>
    <P>Amtsgericht Stuttgart HRB 311290
    </P>
    <H2>Verantwortlich für den Inhalt:</H2>
    <P>Peter Rudolph
    </P>
    <H2>Haftungshinweis</H2>
    <P>Trotz sorgfältiger inhaltlicher Kontrolle können wir keine
        Haftung für die Inhalte externer Links übernehmen. Für den Inhalt
        der verlinkten Seiten sind ausschließlich deren Betreiber
        verantwortlich.
    </P>
</div>
