<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
	<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if IE 7]>
    <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
    <![endif]-->
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" type="text/css">
</head>

<body>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% assign trans = site.data.values[site.lan] %}
                    <li class="active"><a href="{{ site.baseurl }}/">{{ trans.home }}</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/archive.html">Archive</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/categories.html">Categories</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/tags.html">Keywords</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/en/faq.html">FAQ</a></li>
                    <li class="active"><a href="{{ site.baseurl }}/about.html">Impressum</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
