{% assign trans = site.data.values[site.lan] %}
<div class="sidebar well">
    <header class="sidebar-header" role="banner">
        <a href="{{ site.baseurl }}/">
            <img src="{{ site.baseurl }}/assets/images/PI_Rail_Logo_150px.png" class="img" />
        </a>
        <!--
        <h3 class="title">
        <a href="{{ site.BASE_PATH }}/">{{ site.title }}</a>
        </h3>
        -->
    </header>
    <div class="text-center">
        {{ site.description }}<br/><br/>
        <a href="{{ site.baseurl }}/en/about.html">About PI-Rail</a>
    </div>
</div>

<div class="sidebar well">
    <h1>Software</h1>
    <ul>
        {% for page in site.pages %}
        {% if page.url contains "/en/software/" %}
        <li><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
    <h1>Hardware</h1>
    <ul>
        {% for page in site.pages %}
            {% if page.url contains "/en/hardware/" %}
                <li><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="sidebar well">
    {% include links-list.html %}
</div>
